.section--4 {
    width: 100%;

    background-color: white;
    overflow: hidden;

    background-image: url(greencar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transform: scaleX(-1);
}

.circle__small {
    background-color: var(--std-yellow);
    border-radius: 50%;

    width: 700px;
    height: 700px;

    transform: translate(0px, 300px);
}

.circle__large {
    background-color: rgba(var(--std-yellow-values), 0.8);
    border-radius: 50%;

    width: 800px;
    height: 800px;
    
    transform: translate(-50px, -50px);
}

.floating-panel-1 {
    position: absolute;

    width: 760px;
    height: 200px;

    border-radius: 15px;

    left: -540px;
    top: -200px;

    transform: scaleX(-1);
}

.floating-panel-2 {
    position: absolute;

    width: 240px;
    height: 50px;

    border-radius: 15px;

    left: 100px;
    top: 60px;

    transform: scaleX(-1) skew(-15deg, 15deg);
}

.section--4__img--1 {
    width: 800px;
    height: 600px;

    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(cool-cat.png);

    transform: scaleX(-1);
}