.section--2 {
    background-color: var(--std-blue);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    z-index: -10;
}

.grid {
    width: 50%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(7, auto);

    background: var(--std-blue);
    background: linear-gradient(90deg, rgba(var(--std-blue-values),1) 0%, rgba(var(--std-pink-values),1) 30%); 
    

    z-index: -3;
}

.text-path__container {
    position: relative;

    grid-column: 2/7;
    grid-row: 2/5;
    width: 100%;

    z-index: -2;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    border-radius: 40px;
/* 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background: rgb(55, 55, 55); 
*/

    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.9px);
    -webkit-backdrop-filter: blur(13.9px);
    border: 1px solid rgba(255, 255, 255, 1);

    overflow: hidden;
}

/* Fix font size scaling */
.text-path__text {
    position: absolute;
    display: flex;
    align-items: center;

    transform: rotate(20deg) rotateY(-60deg) scale(6) translate(59px, 4px);

    z-index: -1;

    margin: 0px;
}

.text-path__photo {

    width: 100%;
    height: 100%;

    background-image: url(sitting.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.text-path__border {
    position: relative;
    width: 100%;

    border-radius: 50px 50px 0px 0px;
    border-bottom: solid 30px white;
}

.grid__cell {
    background-color: #c78fb2;
    
    z-index: -1;

    border-radius: 15px;
    display: none;
}

.cell--1 {
    grid-column: 1/2;
    grid-row: 1/2;
    /* transition: all 300ms; */
}
/* 
.cell--1:hover {
    transition: all 300ms;
    grid-column: 6/7;
    grid-row: 1/2;
} */

.cell--2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.cell--3 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.cell--4 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.cell--5 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.cell--6 {
    grid-column: 1/2;
    grid-row: 5/6;
}

.cell--7 {
    grid-column: 2/3;
    grid-row: 5/6;
}