.section--3 {
    width: 100%;
}

.img--4 {
    background-image: url("bubblecar.jpg");
    background-size: cover;
    background-position: 0px -300px;
    width: 100%;
    height: 900px;
}

.section--3__panel {
    position: relative;
    left: calc(50% + 200px);
    top: calc(25% - 100px);
}

.divider--thin {
    border-bottom: solid 1px white;
}